<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.blog.mapper.LabelMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.mk.blog.entity.Label">
    <id column="id" property="id"/>
    <result column="label_name" property="labelName"/>
    <result column="sort" property="sort"/>
    <result column="create_time" property="createTime"/>
    <result column="modify_time" property="modifyTime"/>
    <result column="is_deleted" property="isDeleted"/>
  </resultMap>
  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id, label_name, sort, create_time, modify_time, is_deleted
  </sql>

  <select id="selectLabelList" resultType="com.mk.blog.vo.LabelListVo">
    SELECT
      t1.id,
      t1.label_name,
      t1.sort,
      COUNT(tmp.id) AS num
    FROM
      label t1
      LEFT JOIN (
                SELECT
                  t2.label_id,
                  t2.id
                FROM
                  article_label t2
                  JOIN article t3 ON t2.article_id = t3.id
                WHERE t2.is_deleted = 0 AND t3.is_deleted = 0) tmp ON t1.id = tmp.label_id
    WHERE
      t1.is_deleted = 0
    GROUP BY
      t1.id
  </select>
</mapper>