<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.blog.mapper.UserMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.mk.blog.entity.User">
    <id column="id" property="id" />
    <result column="user_name" property="userName" />
    <result column="pass_word" property="passWord" />
    <result column="remarks" property="remarks" />
    <result column="img_head" property="imgHead" />
    <result column="is_prohibit" property="isProhibit" />
    <result column="modify_time" property="modifyTime" />
    <result column="caeate_time" property="caeateTime" />
  </resultMap>
  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
  id, user_name, pass_word, remarks, img_head, is_prohibit, modify_time, caeate_time
  </sql>
</mapper>